@charset "UTF-8";
/** -----------------------------------------------
  共通
------------------------------------------------**/
body {
  font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color:#fff;
	font-family:  Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}

/** -----------------------------------------------
  Header
------------------------------------------------**/
#header {
  width: 90%;
  margin: 0 auto;
}
.head-menu {
  display: flex;
  justify-content: space-between;
}
.head-title {
  text-align: center;
  color: #008f59;
  font-size: 35px;
  font-weight: bold;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}
.navigation {
  padding-right: 25px;
  margin: auto 0;
}
.nav-contact {
  padding-right: 0;
  background-color: #008f59;
  padding: 20px;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Header
  -------------------------------------------*/
  #header {
    width: 100%;
  }
  .head-title {
    margin-left: 10px;
    font-size: 30px;
  }
  .nav-menu {
    font-size: 12px;
  }
  .navigation {
    display: none;
  }
  .nav-contact {
    padding: 17px;
  }
}

/** -----------------------------------------------
  Mainvisual
------------------------------------------------**/
.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(300px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
.fadeLeft{
  animation-name:fadeLeftAnime;
  animation-duration:4s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeLeftAnime{
    from {
      opacity: 0;
    transform: translateX(-100px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }
.p-first {
  background-color: #fff;
  margin-bottom: 10px;
  position: absolute;
  bottom: 20%;
  left: 3%;
  font-size: 25px;
  font-weight: bold;
}
.p-second {
  background-color: #fff;
  position: absolute;
  bottom: 13%;
  left: 3%;
  font-size: 25px;
  font-weight: bold;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Main
  -------------------------------------------*/
  .p-first {
    font-size: 18px;
    bottom: 20%;
    background-color: rgb(255, 255, 255, 0.7);
  }
  .p-second {
    font-size: 18px;
    bottom: 15%;
    background-color: rgb(255, 255, 255, 0.7);
  }
}


/** -----------------------------------------------
  Introduction
------------------------------------------------**/
#introduction {
  margin: 80px 0;
  width: 100%;
}
.intro-flex {
  display: flex;
  justify-content: right;
  position: relative;
}
.intro-box {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 10%;
}
.back-white {
  background-color: #fff;
}
.intro-img {
  width: 50%;
}
.intro-img img {
  width: 100%;
  height: 355px;
  object-fit: cover;
}
.section-title {
  font-size: 25px;
  font-weight: bold;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Introduction
  -------------------------------------------*/
  .intro-flex {
    flex-direction: column;
    justify-content: center;
  }
  .intro-box {
    width: 100%;
    position: initial;
    padding: 0 8px;
  }
  .intro-img {
    width: 100%;
  }
  #introduction {
    margin: 30px 0 0;
  }
  #introduction .section-title {
    text-align: center;
  }
  .back-white {
    text-align: center;
    margin-bottom: 20px;
  }
}

/** -----------------------------------------------
  History
------------------------------------------------**/
#history {
  background-color: #008f59;
}
.history-box {
  display: flex;
  justify-content: center;
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
}
.history-img {
  width: 50%;
  position: relative;
}
.img-1 {
  position: absolute;
  top: 10%;
}
.img-1 img {
  width: 70%;
}
.img-2 {
  position: absolute;
  top: 35%;
  left: 30%;
}
.img-2 img {
  width: 100%;
}
.img-3 {
  position: absolute;
  top: 60%;
}
.img-3 img {
  width: 70%;
}
.history-title {
  text-align: center;
  color: #fff;
  margin-top: 80px;
  font-size: 25px;
  font-weight: bold;
}
.history-text {
  width: 50%;
  margin: 150px 0;
  color: #fff;
  padding-bottom: 70px;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Introduction
  -------------------------------------------*/
  #history {
    padding-top: 30px;
  }
  .history-box {
    flex-direction: column;
  }
  .history-img {
    width: 100%;
    position: initial;
  }
  .img-1 {
    position: initial;
    margin: 30px;
  }
  .img-1 img {
    width: 80%;
  }
  .img-2 {
    position: initial;
    margin: 30px 0px 30px 180px;
  }
  .img-2 img {
    width: 80%;
  }
  .img-3 {
    position: initial;
    margin: 30px;
  }
  .img-3 img {
    width: 80%;
  }
  .history-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .history-text {
    width: 100%;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px
  }
  .zoomIn{
    animation-name:zoomInAnime;
    animation-duration:2.5s;
    animation-fill-mode:forwards;
  }
  
  @keyframes zoomInAnime{
    from {
    transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
  }
}


/** -----------------------------------------------
  Service/Solution
------------------------------------------------**/
#service-solution {
  max-width: 1032px;
  width: 100%;
  margin: 80px auto;
}
.service-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.solution-text {
  width: 40%;
  padding: 10px 20px 0;
}
.solution-img {
  width: 40%;
  padding-top: 10px;
}
.slide-item {
  padding: 10px;
}
.slide-item img {
  width: 300px;
  height: 175px;
  object-fit: cover;
}
.slide-item h3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Service/Solution
  -------------------------------------------*/
  #service-solution {
    margin: 30px auto;
  }
  .service-box {
    flex-direction: column;
  }
  .solution-text {
    width: 100%;
    padding: 8px;
  }
  #service-solution .section-title {
    padding-left: 8px;
  }
  .solution-img {
    width: 100%;
  }
  .slide-item img {
    margin: 0 auto;
  }
  .slide-item p {
    width: 300px;
    margin: 0 auto;
  }
  .slick-prev:before,
  .slick-next:before,
  .slick-prev,
  .slick-next {
    display: none;
    right: 0;
  }
  .slick-dots {
    margin-bottom: 20px;
  }
}


/** -----------------------------------------------
  Contact
------------------------------------------------**/
#contact {
  background-color: #3f4b47;
  color: #fff;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1032px;
  width: 100%;
  margin: 80px auto 0;
  padding: 0 0 80px;
}
.contact-box {
  width: 48%;
  padding-top: 50px;
  font-size: 12px;
}
.form-group {
  width: 48%;
  padding-top: 50px;
  position: relative;
}
.icon {
  display: flex;
  justify-content: left;
  width: 200px;
}
.icon-twitter img {
  width: 25px;
  filter: brightness(8.5);
  margin: 20px 10px 0 0;
}
.icon-facebook img {
  width: 25px;
  filter: brightness(8.5);
  margin: 20px 10px 0 0;
}
.icon-insta img {
  width: 25px;
  margin: 20px 0 0 0;
}
.sec-title {
  font-size: 18px;
  margin-bottom: 15px;
}
#contact dl {
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  background-color: #f6f6f6;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  position: absolute;
  right: 15%;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
  text-align: center;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  .wrapper {
    flex-direction: column;
    margin: 30px auto;
  }
  .contact-box {
    width: 100%;
    padding: 50px 8px 8px 8px;
    text-align: center;
  }
  .icon {
    justify-content: center;
    margin: 0 auto;
  }
  .form-group {
    width: 100%;
    padding: 50px 8px 8px 8px;
    position: initial;
  }
  #contact dd {
    width: 100%;
  }
  #contact .button {
    right: 2.2%;
  }
}