@charset "UTF-8";
/* 共通部分
------------------------------- */
body {
    margin: 0 auto;
    font-size: 0.875rem;
    background-color: #f0f0f0;
}

/* HEADER
------------------------------- */
#header {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    padding: 0 20%;
    position: fixed;
    z-index: 5;
}
#header a {
    color: #000;
    text-decoration: none;
}
#header ul {
    list-style: none;
    display: flex;
}
#header li {
    padding: 0 20px;
}
#header a {
    text-decoration: none;
}
#header a:link {
    color:#24292e
}
#header a:hover {
    color: #efc07d;
}

/* CHALLENGE
------------------------------- */
#challenge {
    display: flex;
    padding-top: 200px;
}
#challenge .img {
    width: 55%;
}
#challenge .img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#challenge .text {
    width: 45%;
    padding: 180px 5% 0 5%;
}
#challenge .section-title {
    margin-bottom: 50px;
}
#challenge .text p {
    line-height: 2.2;
}

/* DIVERSITY
------------------------------- */
#diversity {
    display: flex;
    padding-top: 100px;
}
#diversity .img {
    width: 55%;
}
#diversity .img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#diversity .text {
    width: 45%;
    padding: 180px 5% 0 5%;
}
#diversity .section-title {
    margin-bottom: 50px;
}
#diversity .text p {
    line-height: 2.2;
}

/* ENJOY
------------------------------- */
#enjoy {
    margin-top: 100px;
}
#enjoy .section-title {
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
    position: absolute;
    top: 30%;
}
#enjoy .img {
    margin: 0 auto;
}
#enjoy img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#enjoy .enjoy-img {
    background-image: url(../img/item4.jpg);
    position: relative;
}
.fixed-bg {
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#enjoy .text {
    width: 1000px;
    margin: 50px auto;
    line-height: 2.2;
}

/* FOOTER
------------------------------- */
#footer {
    text-align: center;
}
#footer a {
    color: #333;
    text-decoration: none;
}


/* RESPONSIVE
------------------------------- */
@media (max-width: 900px) {
    #header {
        flex-direction: column;
        padding: 0;
    }
    #challenge {
        flex-direction: column;
        padding-top: 150px;
    }
    #challenge .img {
        width: 100%;
    }
    #challenge .text {
        width: 100%;
        padding: 10%;
    }
    #diversity {
        flex-direction: column;
        padding-top: 0;
    }
    #diversity .img {
        width: 100%;
    }
    #diversity .text {
        width: 100%;
        padding: 10%;
    }
    #enjoy .text {
        width: 100%;
    }
    #enjoy .section-title {
        font-size: 3rem;
    }
}